.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); /* Lower opacity for more visibility */
    backdrop-filter: blur(2px); /* Slight blur effect for better focus on loader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .circle {
    width: 75px;
    height: 75px;
    border: 2px solid #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .vehicle {
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  
  .vehicle img {
    width: 50px;
    height: auto;
  }
  
  .vehicle.visible {
    opacity: 1;
  }
  

  